.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(120, 120, 120, .3);
    margin-top: 3rem;
}

.leftdetails {
    width: 300px;
    margin-right: 3rem;
}

.title {
    color: #666;
    margin-bottom: 2rem;
}

.description {
    color: #666;
    line-height: 2.2;
}

.footerdetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.footerdetails span {
    color: #fff;
    background-color: rgb(2, 80, 35);
    padding: 4px 12px;
    border-radius: 3px;
}